.root {
    padding: 2.5%;
    padding-top: 3%;
    width: 100%;
    height: 100%;
}

.basics-box {
    width: 89%;
    height: fit-content;
    padding: 20pt;
    
    background-color: white;
    border-radius: 20pt;
    box-shadow: 0 0 50pt rgba(0, 0, 0, 0.2);
}

.basics-wrapper {
    display: grid;
    justify-content: left;
    gap: 10pt;
}

.profile-image img {
    width: 80pt;
    height: 80pt;
    border-radius: 50%;
    grid-column: 1;
}

.name-and-label {
    grid-column: 2;
    align-self: center;
}

.name {
    color: black;
    font-family: 'Verdana';
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: 10pt;
}

.label {
    color: black;
    font-family: 'Verdana';
    font-size: 16pt;
}
  