<div class='entry'>
    <div class='entry-inner'>
        <div class='timespan-column'>
            <div class='end-date'>
                {{end_date}}
            </div>
            <div class='singular-date'>
                {{date}}
            </div>
            <div class='start-date'>
                {{start_date}}
            </div>
        </div>
        <div class='timeline'>
            <div class='top-circle'></div>
            <div class='line'></div>
            <div class='bottom-circle'></div>
        </div>
        <div class='box-column'>
            <div class='entry-title'>
                {{title}}
            </div>
            <div class='entry-body'>
                {{body}}
            </div>
            {% if (footer is defined) and (footer != none) %}
                <div class='entry-footer'>
                    {{footer}}
                </div>
            {% endif %}
        </div>
    </div>
</div>