<div class='basics-box'>
    <div class='default-box'>
        <div class='basics-wrapper'>
            <div class='profile-image'>
                <img src='{{image}}'>
            </div>
            <div class='name-and-label'>
                <div class='name'>
                    {{name}}
                </div>
                <div class='label'>
                    {{label}}
                </div>
            </div>
            {{contact_info}}
        </div>
        <div class='skills-and-languages-wrapper'>
            {{languages}}
            {{skills}}
        </div>
    </div>
</div>